# Folders
/data
*/results
/results
/evaluation
/interviews_corrected
/deprecated
/Dataset

# Files types
*.txt
*.str
*.docx
*.csv
*.html
*.m4a
*.mp4
*.wav
*.xlsx
*.DS_Store
*.pkl
*.png

# Installation files
!requirements.txt
!constraints.txt
!freeze_requirements.txt

# gitkeep
!src/images/readme/WD_pipeline.png
!/data/eg_audio_file.txt

# Byte-compiled / optimized / DLL files
__pycache__/
temp_outputs/
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf

# intellij
.idea
